<div>
    <div *ngIf="flag">
        <img class="bannerImg" [src]="sanitizer.bypassSecurityTrustUrl.bannerUrl" [style.height.px]="elementHeight" alt="Banner Image" />
    </div>
    <div *ngIf="!flag">
        <object class="bannerSwf" width="{{elementWidth}}" height="{{elementHeight}}" id="bannername">

            <param name="banner"
                   value="{{trustedUrl}}" />

            <param name="quality" value="high" />

            <param name="bgcolor" value="#ffffff" />

            <embed height="300" width="400" [src]="sanitizer.bypassSecurityTrustUrl.bannerUrl" quality="high" bgcolor="#ffffff"
                   width="{{elementWidth}}" height="{{elementHeight}}"
                   name="bannername" align="" type="application/x-shockwave-flash"
                   pluginspage="http://www.macromedia.com/go/getflashplayer"/>
        </object>
    </div>
</div>
